{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="carousel">
    <div class="mySlides">
        <img src="{% static 'blog/img/istock-873169784-1534367009.jpg' %}" alt="Apolo">
        <div class="text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, suscipit?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolores deleniti modi ipsa
                quibusdam magnam?</p>
        </div>
    </div>

    <div class="mySlides fade">
        <img src="{% static 'blog/img/MOTION+CROIX.png' %}" alt="Duque">
        <div class="text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, suscipit?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolores deleniti modi ipsa
                quibusdam magnam?</p>
        </div>
    </div>

    <div class="mySlides fade">
        <img src="{% static 'blog/img/renard-bakery-bakkerij-03-17-img-8353-edit-web_5.jpg' %}" alt="Tom">
        <div class="text">
            <h2>Voluptates quisquam, nisi
                voluptas dolorum repellat est aliquid exercitationem</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet explicabo ratione beatae nisi
                optio enim, amet distinctio illo voluptatem laboriosam, inventore pariatur iste error excepturi
                eum debitis et sequi doloremque.</p>
        </div>
    </div>

    <a class="prev" tabindex="5" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" tabindex="6" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div class="info">
    <div class="rescue">
        <div class="photo">
            <img src="{% static 'blog/img/miga_1.jpg' %}" alt="">
        </div>
        <div class="text">
            <h2>Voluptates quisquam, nisi
                voluptas dolorum repellat est aliquid exercitationem</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet explicabo ratione beatae nisi
                optio enim, amet distinctio illo voluptatem laboriosam, inventore pariatur iste error excepturi
                eum debitis et sequi doloremque.</p>
        </div>
    </div>
    <div class="crowfunding">
        <div class="photo">
            <img src="{% static 'blog/img/imperial-treasure-bakery-08.jpg' %}" alt="">
        </div>
        <div class="text">
            <h2>Voluptates quisquam, nisi
                voluptas dolorum repellat est aliquid exercitationem</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet explicabo ratione beatae nisi
                optio enim, amet distinctio illo voluptatem laboriosam, inventore pariatur iste error excepturi
                eum debitis et sequi doloremque.</p>
        </div>
    </div>
</div>
<h2>Productos disponibles</h2>
<div id="gallery">
    <div class="card">
        <img id="wifi" src="{% static 'blog/img/descarga.jpg' %}" alt="Wifi" class="image">
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil neque minus aliquid
                blanditiis maxime!</p>
            {% if user.is_authenticated %}
            <button class="button" tabindex="7" onclick="openModal()">Comprar</button>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <img id="maya" src="{% static 'blog/img/choccroissants.jpg' %}" alt="Maya" class="image">
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil neque minus aliquid
                blanditiis maxime!</p>
            {% if user.is_authenticated %}
            <button class="button" tabindex="7" onclick="openModal()">Comprar</button>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <img id="oso" src="{% static 'blog/img/donuts.jpg' %}" alt="Oso" class="image">

        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil neque minus aliquid
                blanditiis maxime!</p>
            {% if user.is_authenticated %}
            <button class="button" tabindex="7" onclick="openModal()">Comprar</button>
            {% endif %}

        </div>
    </div>
    <div class="card">

        <img id="luna" src="{% static 'blog/img/fasdfa.jpg' %}" alt="Luna" class="image">
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil neque minus aliquid
                blanditiis maxime!</p>
            {% if user.is_authenticated %}
            <button class="button" tabindex="7" onclick="openModal()">Comprar</button>
            {% endif %}
        </div>
    </div>
</div>
{% if posts|length > 0 %}
{% endif %}
<div id="gallery">
    {% for post in posts %}
    <div class="card">
        <img src="{{ post.picture.url }}">
        <div class="text">
            <p>Nombre: {{ post.name }}</p>
            <p>Raza: {{ post.breed }}</p>
            <p>Descripción: {{ post.description }}</p>
            <p>Condición: {{ post.condition }}</p>
            {% if not user.is_authenticated %}
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'register' %}" tabindex="13">Comprar</a>
            {% endif %}

            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'adopt' post.id %}" tabindex="14">Comprar</a>
            {% endif %}
            {% if user.is_superuser %}
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}" tabindex="14">Borrar</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}" tabindex="14">Actualizar</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}