{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div>
                    <h2>Eliminar perrito</h2>
                    <h3>Estas seguro que quieres eliminar el perrito "{{ post.name }}?"</h3>
                    <img src="{{ post.picture.url }}" alt="">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-danger mt-4" type="submit">Eliminar</button>
                    <a class="btn btn-outline-secondary mt-4" href="{% url 'blog-home' %}">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}