{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div>
                    <h2>Ingresa</h2>
                </div>
                <div class="modal-body">
                    <form method='POST'>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Ingresa</button>
                            <small class="text-muted ml-2"> 
                                <a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a>
                            </small>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Necesitas una cuenta? <a href="{% url 'register' %}" class="ml-2">Registrate</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}