{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div>
            <div class="modal-content">
                <div>
                    <h2>Restablecer contraseña</h2>
                </div>
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Restablecer contraseña</button>
                </div>
            </div>
        </div>
    </form>
</div>
</form>
</div>
{% endblock content %}